*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("axssets/img/bag.jpg");
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: none;
    background-size: max(1200px , 100vw)
    
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.65;
    background-color:black;
    position: absolute;
    top: 0;

}

nav  {
    display: flex;
    max-width:80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
img nav{
    color:darkred;
    position: relative;
    width: 114px;
    z-index: 10;
    position: relative;
}
 nav button{
    width: 114px;
    z-index: 10;
    font-size:larger;
    position: relative;
    background-color: rgba(23, 23 ,23, 0.2);
    color: white;
    border: 1px solid white;
    padding: 5px;
;
}
 nav .sing{
    background-color: red;
    position: relative;
    
}
.hero{
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 100px;
    gap:50px;
}
.hero:first-child(1){
    font-family: 'poppins' ,sans-serif ;
    font-weight: bolder;
    font-size: 1000px;
    text-align: center;
    font-weight: 500;
}
.hero:nth-child(2){
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      gap: 10px;
}
.hero:nth-child(3){
    font-weight: 400;
      font-size: 20px;
      text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(59, 57, 57);
}
  .bnt-red-bnt{
    background-color: red;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
  }
  .main input{
    padding: 5px 101px 8px 14px ;
    font-weight: bold;
    color: white;
    background-color: rgba(23, 23 ,23, 0.2);
    border: 1px solid white;
  }
  .sm{
         
  }
  .red{
      font-size: large;
      border: 1px solid white;
   }
   .first {
  justify-content: center;
  display: flex;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
   }
   .separation{
    height: 5px;
    background-color: rgb(93, 89, 89);

   }
   .secImg{
    width: 30vw;
   }
   .secImg{
    position: relative;
   }
   .secImg video{
    position: absolute;
    top: 95px;
    right:-95px;
    border: 2px solid rgb(87, 83, 83);
   }
   .first>div :nth-child(1){
    font-size: 50px;
    font-weight: bold;
   }
   .first>div :nth-child(2){
    font-size: 20px;
    font-weight: bold;
   }
   .first>div:nth-child(1){
    display: flex;
    flex-direction: column;
   }
   .second>div:nth-child(2){
    display: flex;
    flex-direction: column;
   }
   .faq h2{
    text-align:center;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    justify-content: space-around;
   }
   
   .faq{
    background-color: black;
    color: white;
     }
     .faqbox:hover{
        transition: all 1s ease-in-out;
        background-color:rgb(66, 68, 68);
     }

    .faqbox{
        font-size: 48px;
        display: flex;
        background-color:rgb(43, 41, 41);
        color: white;
        padding: 15px;
        margin: 10px;
       max-width: 60vw;
       margin: 5px auto;
       font-size: x-large;
       justify-content: space-around;
       cursor: pointer;

    
    }

    
